/.direnv/
/.ipynb_checkpoints/
/.virtual_documents/
/_extensions/
/.Rhistory
documents/main_cache/
documents/main_files/
documents/supplementary_materials_cache/
documents/supplementary_materials_files/
/log/*.log
/supplementary_materials/translation_examples.txt
/supplementary_materials/supplementary_materials_cache/
