[submodule "data/translations"]
	path = data/translations
	url = https://github.com/idiig/kokinshuTranslations.git
	branch = main
[submodule "data/hachidaishu"]
	path = data/hachidaishu
	url = https://github.com/yamagen/hachidaishu
[submodule "supplementary_materials/original_calculation_results"]
	path = supplementary_materials/original_calculation_results
	url = https://gist.github.com/a63a56105504263d75e716c68f2ccf4b.git
