/.direnv/
/.ipynb_checkpoints/
/.virtual_documents/
/_extensions/
/.Rhistory
/main_cache/
/log/*.log
/supplementary_materials/translation-examples.txt
/supplementary-materials/supplementary-materials_cache/
