/.direnv/
/.ipynb_checkpoints/
/.virtual_documents/
/_extensions/
/.Rhistory
/main_cache/
/log/*.log
/supplementary_materials/translation_examples.txt
/supplementary_materials/supplementary_materials_cache/
